name: Sample One
on: workflow_dispatch
jobs:
  basic:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "This is just basic content pushed to a summary" >> $GITHUB_STEP_SUMMARY
        
